.psci
.psci_modules/
bower_components/
node_modules/
output/
tmp/
/*.log
tags
.pulp-cache/
/pursuit.json

# psc and frields create tix files when profiling is enabled.  It looks like
# profiling is enabled on some releases.
*.tix
